.custom-input-with-state {
  width: 100%;
}

.custom-input-with-state .p-float-label {
  width: inherit;
  margin-bottom: 5px;
}

.custom-input-with-state .p-float-label .p-inputtext {
  width: inherit;
}
