.to-do {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 5rem;
  background-color: inherit;
}

.to-do *::-webkit-scrollbar {
  width: 13px;
}

.to-do *::-webkit-scrollbar-track {
  background-color: #fff6f2;
}

.to-do *::-webkit-scrollbar-thumb {
  background-color: #c1ddf0;
  border-radius: 30px;
}

.to-do .top-container {
  position: relative;
  margin-top: 5rem;
  margin-bottom: 0.75rem;
  background-color: inherit;
}

.to-do .top-container .basic-inputs-position-container {
  position: absolute;
  top: -47px;
  left: -14rem;
  transition: 0.5s;
  background-color: transparent;
  z-index: 2;
}

.to-do.with-description .top-container .basic-inputs-position-container {
  top: -127px;
}

.to-do .top-container .basic-inputs {
  display: flex;
  align-items: center;
  width: 28rem;
  height: 44px;
  padding: 2px 0;
  background-color: white;
}

.app.dark-mode .to-do .top-container .basic-inputs {
  background-color: #1a1a1a;
}

.to-do .to-do-description::-webkit-scrollbar {
  width: 8px;
}

.to-do .top-container .text-input {
  margin-left: 0.5rem !important;
  margin-bottom: 0 !important;
  width: 14rem;
}

.to-do .top-container .text-input input {
  background-color: inherit;
}

.to-do .top-container .btn {
  margin-left: 0.5rem !important;
  margin-right: 0;
  margin: 0 0 0 10px;
}

.to-do .list {
  height: 60%;
  max-height: 37rem;
  width: 67.5%;
  max-width: 52rem;
  min-width: 28rem;
  padding: 1rem;
  box-shadow: 3px 3px 8px #6daedb;
  list-style: none;
  overflow-y: auto;
}

.app.dark-mode .to-do .list {
  box-shadow: 3px 3px 14px #6daedb;
}

.toggle-arrow-icon {
  display: inline-block !important;
  font-size: 30px;
  border-radius: 4px;
  transition: 0.5s;
  cursor: pointer;
  color: #f2f2f2;
  background-color: #98c7e6;
  border: 3px solid #98c7e6;
}

.to-do .toggle-arrow-icon.expanded {
  transform: rotateX(180deg);
}

.to-do .toggle-arrow-icon:hover {
  color: #98c7e6;
  background-color: inherit;
  border: 3px solid #98c7e6;
}

.to-do .to-do-description {
  width: 19.45rem;
  position: absolute;
  top: -40px;
  left: -11.65rem;
  transition: 0.25s;
}

.to-do.with-description .to-do-description {
  top: -79px;
  transition: 0.35s;
}

.to-do .to-do-description .custom-textarea {
  height: 0;
  transition: 0.25s;
  resize: none;
}

.to-do.with-description .to-do-description .custom-textarea {
  height: 70px;
}

.to-do .to-do-description.wide {
  width: 25.15rem;
}

.to-do .to-do-description.lng-en {
  width: 18.6rem;
}

.to-do .to-do-description.lng-en.wide {
  width: 23.05rem;
}
